{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap" rel="stylesheet"> {# ---- Styles #}
    <link href="{% static 'css/renter.css' %}" rel="stylesheet">
    <link href="{% static 'css/calendar.css' %}" rel="stylesheet">
    <script src="{% static 'js/js.cookie.min.js' %}"></script> {# ------------------------------------------------------ Scripts #}
    {% include 'markets/js/reverse.js' with namespace='renter-api' %}
    {% include 'renter/js/importmap.js' %}
    <script type="module">
        import {Calendar} from "calendar";
        import {Notifications} from "notifications";
        document.addEventListener('DOMContentLoaded', (event) => { {% include 'renter/js/renter.js' %} });
    </script>
</head>
<body>
<div class="main-body">
    {# left sidebar #}
    <div class="leftSidebar" id="leftSidebar">
      <div class="username">Иванов Иван Иванович</div>
      <a href="#calendar-anchor" class="lsb-item" title="Календарь">
          <img src="{% static 'svg/icons/calendar-check.svg' %}" alt="Календарь"/>
          <span>Календарь</span>
      </a>
      <a href="#regcard-anchor" class="lsb-item" title="Регистрационная карточка">
          <img src="{% static 'svg/icons/home.svg' %}" alt="Регистрационная карточка"/>
          <span>Регистрационная карточка</span>
      </a>
      <a href="#" class="lsb-item" title="Визитная карточка">
          <img src="{% static 'svg/icons/account-card-details.svg' %}" alt="Визитная карточка"/>
          <span>Визитная карточка</span>
      </a>
      <a href="#" class="lsb-item" title="Мои договоры">
          <img src="{% static 'svg/icons/clipboard-text.svg' %}" alt="Мои договоры"/>
          <span>Мои договоры</span>
      </a>
      <a href="#" class="lsb-item" title="Мои заявления">
          <img src="{% static 'svg/icons/email.svg' %}" alt="Мои заявления"/>
          <span>Мои заявления</span>
      </a>
      <a href="#" class="lsb-item" title="История действий">
          <img src="{% static 'svg/icons/calendar-select.svg' %}" alt="История действий"/>
          <span>История действий</span>
      </a>
      <a href="#" class="lsb-item" title="Сообщения">
          <img src="{% static 'svg/icons/message-text.svg' %}" alt="Сообщения"/>
          <span>Сообщения</span>
      </a>
    </div>

    <div id="main" class="">
        <div class="navbar">
            <a href="#" class="lsb-item" title="Скрыть/показать левую панель">
                <img src="{% static 'svg/icons/menu.svg' %}" id="closesidebar"/>
            </a>
            <h2>Личный кабинет в системе интерактивных карт ГП "Рынки Донбасса"</h2>
        </div>
        <div class="main-block">
            <div class="main-block-item" id="calendar-anchor">
                <h2>Календарь событий</h2>
                <div class="calendar-block">
                    <div id="calendar-container" style="width:50vw;min-width:25rem;">{# Календарь подгружается в #calendar-container #}</div>
                    <div id="calendar-events" class="calendar-event">
                        <div class="calendar-event-sign"><span class="red"></span>Важная информация</div>
                        <div class="calendar-event-date"><span>30.12.2024</span> - <span>01.01.2025</span></div>
                        <div class="calendar-event-text">Очень важная информация</div>
                    </div>
                </div>
            </div>

            <div class="main-block-item" id="regcard-anchor">
                <h2>Регистрационная карточка</h2>
                <div> </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>