<div class="calendar">
    <div class="calendar-controls">
        <button onclick="window.calendar.prev_month();">&larr;</button>
        <p>{{title}}</p>
        <button onclick="window.calendar.next_month();">&rarr;</button>
    </div>
    <div class="calendar-body">
        {% for wd in week_days %}
        <div class="wd-name">{{wd}}</div>
        {% endfor %}
        {% for d in p_days %}
        <div class="prev">{{d}}</div>
        {% endfor %}
        {% for d,v in c_days.items %}
        <div{% if v.class %} class="{{v.class}}"{% endif %}{% if v.click %} onclick="window.calendar.day_click('{{v.click}}');"{% endif %}>{{d}}</div>
        {% endfor %}
        {% for d in n_days %}
        <div class="next">{{d}}</div>
        {% endfor %}
    </div>
</div>

