<div class="calendar">
    <div class="calendar-controls">
        <button>&larr;</button>
        <p>{{title}}</p>
        <button>&rarr;</button>
    </div>
    <div class="calendar-body">
        {% for wd in week_days %}
        <div class="wd-name">{{wd}}</div>
        {% endfor %}
        {% for d in p_days %}
        <div class="prev">{{d}}</div>
        {% endfor %}
        {% for d in c_days %}
        <div{% if d == today %} class="today"{% endif %}>{{d}}</div>
        {% endfor %}
        {% for d in n_days %}
        <div class="next">{{d}}</div>
        {% endfor %}
    </div>
</div>

