{% load aux_tags %}
<div class="notifications-header">
    <label>{{day|stringformat:'02d'}}.{{month|stringformat:'02d'}}.{{year|stringformat:'d'}}</label>
</div>
<div class="notifications-body">
{% if notifications %}
{% for n in notifications %}
    <div class="notification {{n.type}}">
        {{n.text|markdown}}
        {% if n.question_uuid %}
        <div class="buttons">
            <button onclick="window.asender.send('{{n.question_uuid}}', true).then(_=>{location.reload(true);})">Да</button>
            <button onclick="window.asender.send('{{n.question_uuid}}', false).then(_=>{location.reload(true);})">Нет</button>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% else %}
    <label>Нет уведомлений</label>
{% endif %}
</div>
