<div class="verification">
    {% if user.confirmed %}
    <label>Вы прошли процедуру верификации.</label>
    <label>Ваш ИНН: {{user.aux_data.itn}}</label>
    {% else %}
    <label class="alert">Вы не прошли процедуру верификации.</label>
    {% if user.aux_data %}
    <label>Процесс верификации еще не завершен.</label>
    {% endif %}
    {% endif %}
</div>
{% if form %}
<form class="verification">
    {{form.as_div}}
    <input type="submit" title="Отправить данные для верификации" value="Отправить для верификации">
</form>
{% endif %}
