:root {
    /*--border-width: 1px;
    --border-color: black;
    --border: var(--border-width) solid var(--border-color);
    --nav-button-active-bg: #fff;
    --section-bg: #fff;
    border-color: var(--bs-nav-tabs-link-active-border-color);*/
    --header1: #00bcd4;
    --header2: #6dcb8c;
}


.contact-block {
    display: flex;
    flex-direction: column;
    background-color: #c4c4c5;
    height: 100%;
    margin: 10px 0;
    padding: 0;
    overflow-y:scroll;
    scrollbar-width: thin;
}

.contact-block > h1 {
    width: 100%;
    background: var(--header1);
    margin: 0;
    padding: 1rem;
}

.contact-block > h2 {
    width: 100%;
    background: var(--header2);
    padding: 1rem 2rem;
}

.contact-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  /*scrollbar-gutter: stable;
  overflow-y:scroll;
  scrollbar-width: thin;
  scrollbar-color: #c4c4c5 #f5f5f5;*/
}

.contact-card-image {
    width: 100px;
    height: 100px;
}

.contact-card {
   flex: 1 1 24%;
   background-color: #fff;
   margin: 5px;
   padding: 5px;
   border: 2px solid color-mix(in srgb, var(--card-border-color), transparent 50%);
   border-radius: 5px;
   transition: ease-in-out 0.2s;
   /*height: 150px;*/
   max-height: 250px;
   display: flex;
}