.main-map-section {
    width: 100%;
    overflow: inherit;
    /*height: 80vh;*/
}

/*--------------------------------------------------------------
# Main map
--------------------------------------------------------------*/
.main-map {
    padding: 5px;
    width: 100%;
    /*height: 100vh;
    height: 60vh;*/
    /*height: -moz-calc(100% - 200px); /* Firefox */
    /*height: -webkit-calc(100% - 200px); /* Chrome, Safari */
    /*height: calc(100% - 200px); /* IE9+ and future browsers */
}

#map {
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------------------
# Market Cards
--------------------------------------------------------------*/
.market-cards {
  display: flex;
  flex-wrap: wrap;
  background-color: #c4c4c5;
  /*height: 70vh;*/
  scrollbar-gutter: stable;
  overflow-y:scroll;
  scrollbar-width: thin;
   scrollbar-color: #c4c4c5 #f5f5f5;
  /*bottom: 0;*/
   /*max-height: -moz-calc(100% - 150px); /* Firefox */
    /*max-height: -webkit-calc(100% - 150px); /* Chrome, Safari */
    /*max-height: calc(100% - 150px); /* IE9+ and future browsers */
}

@media screen and (min-height: 1201px) {
    .section-block {
      height: 80vh;
    }
}

@media screen and (max-height: 1200px) {
    .section-block {
      height: 80vh;
    }
}

@media screen and (max-height: 1100px) {
    .section-block {
      height: 75vh;
    }
}

@media screen and (max-height: 1000px) {
    .section-block {
      height: 70vh;
    }
}

@media screen and (max-height: 800px) {
    .section-block {
      height: 68vh;
    }
}

@media screen and (max-height: 700px) {
    .section-block {
        height: 60vh;
    }
}

@media screen and (max-height: 600px) {
    .section-block {
        height: 50vh;
    }
}

.market-card {
   flex: 1 1 24%;
   background-color: #fff;
   margin: 5px;
   padding: 5px;
   border: 2px solid color-mix(in srgb, var(--card-border-color), transparent 50%);
   border-radius: 5px;
   transition: ease-in-out 0.2s;
   height: 150px;
   max-height: 250px;
}

.market-card:hover {
  border-color: color-mix(in srgb, var(--card-border-hover-color), transparent 50%);
  /*transform: translateY(-5px);*/
  /*transform: scale(1.1);*/
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
}

/* Responsive media queries */

@media screen and (max-width: 1100px) {
  .market-card {
    width: 40%;
  }
  .market-card {
    flex: 0 1 48%;
  }
}

@media screen and (max-width: 720px) {
  .market-cards {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 30px;
  }

  .market-card {
    flex: 0 1 100%;
  }
}


.market-card-title {
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.9em;
    /*width: 100px;*/
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*max-height: 2em;*/
}

.market-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.market-card-img {
  padding: 0 5px;
  max-width: 100px;
}

.market-card-img img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.market-card-content {
  background-color: #a3a3a3;
  padding: 5px;
  flex: 2;
  border-radius: 3px;
  position: relative;
  height: 97%;
}

.market-card-text {
  color: #fff;
  font-size: .8em;
}

.market-card-icons {
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  /*width: 100%;*/
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.market-card-icons a {
  background: color-mix(in srgb, var(--default-color), transparent 94%);
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.market-card-icons a i {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  font-size: 16px;
  margin: 0 2px;
}

.market-card-icons a:hover {
  background: var(--accent-color);
}

.market-card-icons a:hover i {
  color: var(--contrast-color);
}

.market-card-icons a+a {
  margin-left: 8px;
}


/* Marker on map */
.map-marker {
    filter: invert(17%) sepia(63%) saturate(7490%) hue-rotate(350deg) brightness(87%) contrast(108%);
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.map-marker:hover {
filter: invert(75%) sepia(58%) saturate(6435%) hue-rotate(354deg) brightness(101%) contrast(96%);
}

/* Popup market card */
.popup-market-card {
   flex: 1 1 24%;
   background-color: #fff;
   margin: 5px;
   padding: 5px;
   border: 2px solid color-mix(in srgb, var(--card-border-color), transparent 50%);
   border-radius: 5px;
   transition: ease-in-out 0.2s;
   height: 150px;
   max-height: 250px;
   max-width: 300px;
   animation: ani 0.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.popup-market-card:hover {
  border-color: color-mix(in srgb, var(--card-border-hover-color), transparent 50%);
  transform: scale(1.2);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
}

/* Responsive media queries */

/*@media screen and (max-width: 1100px) {
  .popup-market-card {
    width: 40%;
  }
  .market-card {
    flex: 0 1 48%;
  }
}

@media screen and (max-width: 720px) {
  .market-cards {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 30px;
  }

  .market-card {
    flex: 0 1 100%;
  }
}*/


.popup-market-card-title {
  text-align: left;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.9em;
    /*width: 100px;*/
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*max-height: 2em;*/
}

.popup-market-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.popup-market-card-img {
  padding: 0 5px;
  max-width: 100px;
}

.popup-market-card-img img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.popup-market-card-content {
  background-color: #a3a3a3;
  padding: 5px;
  flex: 2;
  border-radius: 3px;
  position: relative;
  height: 97%;
}

.popup-market-card-text {
  color: #fff;
  font-size: .8em;
}

.popup-market-card-icons {
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  /*width: 100%;*/
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.popup-market-card-icons a {
  background: color-mix(in srgb, var(--default-color), transparent 94%);
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.popup-market-card-icons a i {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  font-size: 16px;
  margin: 0 2px;
}

.popup-market-card-icons a:hover {
  background: var(--accent-color);
}

.popup-market-card-icons a:hover i {
  color: var(--contrast-color);
}

.popup-market-card-icons a+a {
  margin-left: 8px;
}