:root {
    --border-width: 1px;
    --border-color: black;
    --border: var(--border-width) solid var(--border-color);
    --nav-button-active-bg: #fff;
    --section-bg: #fff;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}


.market-details-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.market-details-section:fullscreen {
    padding: 0;
    min-height: 100%;
}

.market-details-content
{
    height: 100%;
    min-height: 80%;
    background-color: var(--section-bg);
}

.market-details-section-title {
  text-align: center;
  width: 100%;
  border-top: 2px solid var(--active-color);
  background-color: var(--background-header-color);
  padding: 5px 0;
}

.market-details-section-buttons {
    display: flex;
    background-color: #c0c0c0;
    padding: 10px 10px 0px 0px;
}

.market-details-section-buttons > button {
    background-color: #ccc;
    color: #707070;
    margin: 0 1px;
    padding: 10px;
    border: none;
    border-right: 1px solid gray;
    -moz-border-radius: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    align-items: center;
}

.market-details-section-buttons > button.active {
    color: #000;
    background-color: var(--nav-button-active-bg);
    border-color: #dee2e6;
    border-top: 2px solid var(--active-color);
}

.mkdetails-section-info {
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
}

.mkdetails-tabs-section {
    width: 100%;
}

.mkdetails-section-tabs {
    display: flex;
    justify-align: space-between;
    height: 100%;
    padding: 5px;
}

.mkdetails-tp-scheme {
   width: 60%;
   display: flex;
   height: 100%;
}

.mkdetails-tp-scheme > .section-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#mkdetails-tabs-content, #mkdetails-tabs-content .tab-pane {
    height: 96%;
}

#mkdetails-tp-tab {
    width: 60%;
    height: 100%;
}

.mkdetails-section-info-main {
 /* Initially, the left takes 3/4 width */
    width: 50%;
    padding: 10px;
    min-width: 30%;

    display: flex;
    flex-direction: column;
}

.mkdetails-info-title {
    align-items: center;
    display: flex;
    height: 210px;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 10px;
}

.mkdetails-section-info-slide {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 5px;
}

.mkdetails-section-info-detail {
    padding: 5px;
    border: 1px solid #ccc;
    /* Take the remaining width */
    flex: 1;
    overflow-y:scroll;
}

.mkdetails-img-info {
    margin-right: 5px;
    padding: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.mkdetails-img-info img {

}

.mkdetails-short-info{
    /*width: 50%;*/
    height: 100%;
    flex: 1;
    background-color: #8d8d8d;
    padding: 10px;
    color: #fff;
}

.mkdetails-big-info {
    width: 100%;
    flex: 2;
    background-color: #00b0c7;
    color: #fff;
    padding: 10px;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    text-align: justify;
}

/*****table tm*******/
.table-tp {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.table-tp > thead {
    text-align: center;
    background: #ddd;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    align-self: flex-start;
}

.table-tp > thead > tr > th {
    background: #ddd;
}

.table-tp > thead > tr > th,
.table-tp > tbody > tr >td {
    border-right: var(--border);
    border-bottom: var(--border);
    width: calc(100% / 4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-tp > th:first-child, .table-tp > td:first-child {
    border-left: var(--border);
}

.table-tp > thead > tr:first-child > th {
    border-top: var(--border);
    border-bottom: var(--border);
}

.table-tp > thead > tr, .table-tp > th {
}

.table-tp th.sort-th {
    cursor: pointer;
    content: ' ';
    position: relative;
    transition: ease-in-out 0.3s;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 12px;
        border: 4px solid transparent;
      }
      &::before {
        border-bottom-color: #bdbdbd;
        margin-top: -8px;
      }

      &::after {
        border-top-color: #bdbdbd;
        margin-top: 1px;
      }


      &.sort-asc {
        &::before {
          border-width: 6px;
          margin-top: -9px;
          right: 10px;
          border-bottom-color: #3f3f3f;
        }

        &::after {
          content: none;
        }
      }

    &.sort-desc {
    &::before {
      content: none;
    }

    &::after {
      border-width: 6px;
      margin-top: -2px;
      right: 10px;
      border-top-color: #3f3f3f;
    }
  }

}

.table-tp th.sort-th:hover {
    color: #707070;
}

.table-tp > tbody > tr {
    cursor: pointer;
}


.table-tp > tbody > tr:hover {
    background-color: #ccc;
}

.table-tp tr.selected {
    background-color: #535353;
    color: #fff;
}


.mkdetails-tp-section-info-main {
    overflow-y: scroll;
    /*height: 100%;*/
    height: calc(100vh - 299px);
    width: 100%;
}

.mkdetails-tp-header {
    display: flex;
    justify-content: space-between;
}

.mkdetails-tp-header-block {
    border: 1px solid black;
    background-color: #ccc;
    padding-left: 5px;
    height: 25px;
    width: 100%;
}


#mkdetails-tp-pointed{
    padding-right: 5px;
}

/**** right tp panel***/

.mkdetails-tp-section {
    overflow-y: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mkdetails-tp-section-info-detail {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 40%;
    height: 100%;
}

.mkdetails-tp-section-info-detail-body {
    display: flex;
    height: 100%;
    overflow: auto;
}


.mkdetails-tp-section-info-detail-body-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dedede;
    width: 50px;
    height: 100%;
    border: 1px solid black;
    margin-right: 10px;
}

.mkdetails-tp-section-info-detail-body-panel > a {
    margin: 5px 0 5px 0;
    border-radius: 50%;
    background:
    color-mix(in srgb, var(--default-color), transparent 94%);
}

.mkdetails-tp-section-info-detail-body-panel > a:hover {
    background: var(--accent-color);
}

.mkdetails-tp-section-info-detail-body-panel > a > img {
    transition: ease-in-out 0.3s;
    padding: 5px;
}

.mkdetails-tp-section-info-detail-body-panel > a > img:hover {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(271deg) brightness(109%) contrast(101%);
}

.mkdetails-tp-section-info-detail-body-info
{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    &:empty {
        border: solid thin black;
        background: white;
        background-image: url(/static/bitmaps/bkgs/bkg_002.webp);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.mkdetails-tp-section-info-detail-body-info-descr {
    background-color: #33ffff;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-width: 0 1px;
}

.mkdetails-tp-section-info-detail-body-info-descr > p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.mkdetails-tp-section-info-detail-body-info-tree {
    overflow-y:scroll;
    height: 100%;
    padding-left: 0;
    border-style: solid;
    border-color: black;
    border-width: 0 1px 1px 1px;
}

.mkdetails-tp-section-info-detail-body-info-booking {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.book-btn {
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out 0.3s;
}

.mkdetails-tp-section-info-detail-body-info-booking-button {
    background-color: #00bcd4;
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative;
}

.mkdetails-tp-section-info-detail-body-info-booking-button:hover {
    background-color: #5cd4e3;
}

.mkdetails-tp-section-info-detail-body-info-booking-button > img {
    position: absolute; left: 15px;
}

.mkdetails-tp-section-info-detail-body-info-booking-button-cancel {
    background-color: #ff9966;
}

.mkdetails-tp-section-info-detail-body-info-booking-button-cancel:hover {
    background-color: #ffbc9b;
}

.mkdetails-tp-section-info-detail-legend {
    padding: 10px 0 0 0;
    margin-top: auto;
}

.mkdetails-tp-section-info-detail-legend-body {
    background-color: #ebebeb;
    border-style: solid;
    border-color: black;
    border-width: 0 thin thin thin;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.35rem;
    padding: 0.5rem;
    > div {
        cursor: pointer;
        width: 1.62rem;
        height: 1rem;
        border: solid thin black;
        border-radius: 0.33rem;
    }
}

.mkdetails-tp-empty {
    text-align: center;
    margin: 15px 0;
}