:root {
    /*--border-width: 1px;
    --border-color: black;
    --border: var(--border-width) solid var(--border-color);*/
    --background-color-search: rgba(170,170,170,0.85);
    --background-color-search-result: rgba(100,100,219,0.85);
    --opacity-child: 100%;
    --background-color-search-tp-block: rgba(255,255,255,1);
}

.search-market-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.search-market {
    position: relative;
    margin: auto;
    /*top: 0;
    max-width: 1140px;*/
    background-color: var(--background-color-search);
    /*z-index: 999;*/
    padding: 10px;
    width: 60%;
    min-width: 1024px;
    /*opacity: 85%;*/
    transition: opacity 0.6s linear;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    /*display: none;*/
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.button-container {
  align-items: center;
  /*background: #eeedef;*/
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  width: 360px;
}

.bar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  left: 0;
  padding: 0 21px;
  position: absolute;
  width: 100%;
}
.bar-purple {
  background: #00bad2;
  color: white;
  clip-path: polygon(
    360px 0,
    360px 32px,
    43px 32px,
    39.775442px 31.67494px,
    36.772078px 30.74264px,
    34.054248px 29.26745px,
    31.686292px 27.31371px,
    29.732549px 24.94575px,
    28.257359px 22.22792px,
    27.325063px 19.22456px,
    27px 16px,
    27.325063px 12.77544px,
    28.257359px 9.77208px,
    29.732549px 7.05425px,
    31.686292px 4.68629px,
    34.054248px 2.73255px,
    36.772078px 1.25736px,
    39.775442px 0.32506px,
    43px 0
  );
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option {
  cursor: pointer;
  /*line-height: 142px;*/
  text-align: center;
  width: 33.33%;
}
.bar-outer {
  clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    104px 32px,
    107.22456px 31.67494px,
    110.22792px 30.74264px,
    112.94575px 29.26745px,
    115.31371px 27.31371px,
    117.26745px 24.94575px,
    118.74264px 22.22792px,
    119.67494px 19.22456px,
    120px 16px,
    119.67494px 12.77544px,
    118.74264px 9.77208px,
    117.26745px 7.05425px,
    115.31371px 4.68629px,
    112.94575px 2.73255px,
    110.22792px 1.25736px,
    107.22456px 0.32506px,
    104px 0
  );
  height: 32px;
  pointer-events: none;
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.bar-outer.pos2 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    149px 32px,
    145.775442px 31.67494px,
    142.772078px 30.74264px,
    140.054248px 29.26745px,
    137.686292px 27.31371px,
    135.732549px 24.94575px,
    134.257359px 22.22792px,
    133.325063px 19.22456px,
    133px 16px,
    133.325063px 12.77544px,
    134.257359px 9.77208px,
    135.732549px 7.05425px,
    137.686292px 4.68629px,
    140.054248px 2.73255px,
    142.772078px 1.25736px,
    145.775442px 0.32506px,
    149px 0
  );
}
.bar-outer.pos2 {
  clip-path: polygon(
    0 0,
    0 32px,
    210px 32px,
    213.22456px 31.67494px,
    216.22792px 30.74264px,
    218.94575px 29.26745px,
    221.31371px 27.31371px,
    223.26745px 24.94575px,
    224.74264px 22.22792px,
    225.67494px 19.22456px,
    226px 16px,
    225.67494px 12.77544px,
    224.74264px 9.77208px,
    223.26745px 7.05425px,
    221.31371px 4.68629px,
    218.94575px 2.73255px,
    216.22792px 1.25736px,
    213.22456px 0.32506px,
    210px 0
  );
}
.bar-outer.pos3 .bar-purple {
  clip-path: polygon(
    360px 0,
    360px 32px,
    256px 32px,
    252.775442px 31.67494px,
    249.772078px 30.74264px,
    247.054248px 29.26745px,
    244.686292px 27.31371px,
    242.732549px 24.94575px,
    241.257359px 22.22792px,
    240.325063px 19.22456px,
    240px 16px,
    240.325063px 12.77544px,
    241.257359px 9.77208px,
    242.732549px 7.05425px,
    244.686292px 4.68629px,
    247.054248px 2.73255px,
    249.772078px 1.25736px,
    252.775442px 0.32506px,
    256px 0
  );
}
.bar-outer.pos3 {
  clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    317px 32px,
    320.22456px 31.67494px,
    323.22792px 30.74264px,
    325.94575px 29.26745px,
    328.31371px 27.31371px,
    330.26745px 24.94575px,
    331.74264px 22.22792px,
    332.67494px 19.22456px,
    333px 16px,
    332.67494px 12.77544px,
    331.74264px 9.77208px,
    330.26745px 7.05425px,
    328.31371px 4.68629px,
    325.94575px 2.73255px,
    323.22792px 1.25736px,
    320.22456px 0.32506px,
    317px 0
  );
}
.bar-outer.left .bar-purple {
  transition-delay: 0;
}
.bar-outer.left {
  transition-delay: 80ms;
}
.bar-outer.right .bar-purple {
  transition-delay: 80ms;
}
.bar-outer.right {
  transition-delay: 0;
}


/*.search-market.hide {

}*/
/*#search-market {

}*/

.search-market-top {
    margin: 10px 0 0 0;
    display: flex;
}

.search-market-top > img {
    margin: 0 5px;
    opacity: 255;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(275deg) brightness(105%) contrast(100%);
}

.search-market-top > .search-btn {
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 5px;
    transition: ease-in-out 0.3s;
    background-color: #00bad2;
    color: #fff;
    /*width: 100%;*/
    white-space:nowrap;
}

#search-close {
     margin-left: auto;
}
#search-close > i {
     color: #fff;
}

/* The Close Button */
#search-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#search-close:hover,
#search-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.search-section-market, .search-section-tp {
    -webkit-animation-name: animatemk;
    -webkit-animation-duration: 0.5s;
    animation-name: animatemk;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: column;
}

/* Add Animation */
@-webkit-keyframes animatemk {
  from {left:-300px; opacity:0}
  to {left:-500; opacity:1}
}

@keyframes animatemk {
  from {left:-300px; opacity:0}
  to {left:-500; opacity:1}
}

.search-market-input {
    margin: 10px 5px;
    width: 100%;
}

.search-market-input > #search-market-input {
    width: 100%;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
    outline: none;
}

.search-market-input > #search-market-input:focus {
    border: 1px solid #2bb8ca;
}

.search-market-result, .search-tp-result {
    width: 100%;
    height: 300px;
    /*overflow-y:scroll;*/
    background-color: var(--background-color-search-result);
    padding: 5px
}

.search-tp-result-treeview {
    overflow-y:scroll;
    height: 92%;
}

.search-tp-block-total-result{
    background-color: var(--background-color-search);
}

.search-market-result > .tree {
}

.search-market-result > .tree summary, .search-market-result > .tree li,
.search-tp-result > .tree summary, .search-tp-result > .tree li{
  color: #fff;
}

.search-market-result > .tree summary:hover {
  /*font-weight: normal;*/
  /*font-size: 1.02em;*/
}

.search-market-result li.tree-node-result,
.search-tp-result li.tree-node-result {
    display: flex;
    width: 100%;
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/
}


.search-market-result li.tree-node-result > .tree-link > a,
.search-tp-result li.tree-node-result > .tree-link > a {
    margin-right: 2px;
}

.search-market-result li.tree-node-result > .tree-link > a > img,
.search-tp-result li.tree-node-result > .tree-link > a > img {
    width: 15px;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(275deg) brightness(105%) contrast(100%);
}

.search-market-result li.tree-node-result > .tree-link > a > img:hover,
.search-tp-result li.tree-node-result > .tree-link > a > img:hover {
    filter: invert(70%) sepia(95%) saturate(4366%) hue-rotate(150deg) brightness(100%) contrast(101%);
}

.search-market-result li.tree-node-result > .tree-node-item,
.search-tp-result li.tree-node-result > .tree-node-item {
    border-left: 1px solid #fff;
    margin: 0 5px;
    padding-left: 5px;
}

.search-market-result li.tree-node-result > .tree-node-child,
.search-tp-result li.tree-node-result > .tree-node-child {
    /*flex-grow: 0;*/
    width: 30%;
    /*align-self: flex-end;*/
}

.search-market-result li.tree-node-result > .tree-text-title,
.search-tp-result li.tree-node-result > .tree-text-title {
    flex-grow: 0;
    width: 30%;
    /*align-self: flex-end;*/
}


.search-market-result li.tree-node-result > .tree-link {
    width: 100px;
}

.search-tp-result li.tree-node-result > .tree-link {
    width: 100px;
}

.search-market-result li.tree-node-result > .tree-tp-count {
    width: 25%;
}

/**** Seacrh TP ****/
.search-section-tp {
    display: none;
}

.search-tp-top {
    display: flex;
    width: 100%;
    justify-content: stretch;
    align-items: stretch;
    height: 250px;
}

.search-tp-block {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.search-tp-block-body {
    background-color: var(--background-color-search-tp-block);
    padding: 5px;
    overflow-y:scroll;
    scrollbar-width: thin;
    height: 100%;
    /*flex: 1 0 auto;*/
    /*display: flex;*/
}

.search-tp-check {
    accent-color: white;
    outline: 1px solid black;
}

.tploc {
    vertical-align: middle;
    width: 10px;
    accent-color: white;
    /*outline: 1px solid black;*/
}

.search-tp-check:indeterminate {
    accent-color: darkgray;
     background-color: lightgray;
}

.for-checkbox {
    font-size: 10px;
    white-space: nowrap;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
}

.search-tp-inputs {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.search-tp-input-num {
    width: 100%;
    margin-left: 5px;
}
.search-tp-input-price {
    width: 100%;
}

.search-tp-input-label {
    white-space: nowrap;
    margin: 0 5px;
}

.search-tp-range-block {
    margin: 15px 0;
}

.search-tp-slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}

/*.search-tp-price-slider .search-tp-price-progress {*/
.search-tp-progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #000;
}

.search-tp-range-input {
  position: relative;
}

.search-tp-range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #e5e5e5;
  border: 1px solid black;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
