:root {
    --border-width: 1px;
    --border-color: black;
    --border: var(--border-width) solid var(--border-color);
    --background-color: #aaaaaa;
}

.search-market {
    position: absolute;
    top: 0;
    max-width: 1200px;
    background-color: var(--background-color);
    opacity: 70%;
}