:root {
    --TSCRight: 2rem;
    --TSCBottom: 8rem;
    --TSCWidth: 22rem;
    --TSCZIx: 100;
    --TSCColorQ: #ede4ad;
    --TSCColorA: #adedce;
    --TSCFont: "Geologica", sans-serif;
    --TSCFontWeight: 100;
    --TSCFontSize: 14pt;
    --TSCFontSizePara: 11pt;
}

.ts-chat {
    position: fixed;
    right: var(--TSCRight);
    bottom: var(--TSCBottom);
    width: fit-content;
    height: fit-content;
    max-width: min(35rem, 75vw);
    max-height: min(50rem, 75vh);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
    z-index: var(--TSCZIx);
    background: #90909080;
    padding: 0.75rem;
    border: thin solid #00bcd4;
    transform: scaleY(0%);
    opacity: 0%;
    transition-property: transform, opacity;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;

    font-size: var(--TSCFontSize);
    font-variation-settings: "wght" var(--TSCFontWeight);
    font-weight: var(--TSCFontWeight);
    font-family: var(--TSCFont);

    &.active {
        transform: scaleY(100%);
        opacity: 100%;
    }

    .tsc-header {
        display: flex;
        flex-flow: column;
        align-items: end;
        label {
            padding: 1rem;
            width: var(--TSCWidth);
            background: #00bcd4;
            color: white;
        }
        img {
            margin-top: -2rem;
            margin-right: 1rem;
            width: 5rem;
            height: 5rem;
        }
    }

    .tsc-dialogue {
        width: var(--TSCWidth);
        display: flex;
        flex-flow: column;
        padding: 0 1rem 0 1rem;
        overflow-y: auto;
        overflow-x: clip;
        scrollbar-width: thin;

        p {
            border-radius: 10px;
            background: white;
            color: black;
            padding: 10px 15px 10px 15px;
            text-align: center;
            position: relative;
            word-break: break-word;
            font-size: var(--TSCFontSizePara);
            &.a {
                background: var(--TSCColorA);
                &:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-left: 15px solid var(--TSCColorA);
                    border-right: 15px solid transparent;
                    border-top: 15px solid var(--TSCColorA);
                    border-bottom: 15px solid transparent;
                    right: -16px;
                    top: 0px;
                }
            }
            &.q {
                background: var(--TSCColorQ);
                &:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-left: 15px solid transparent;
                    border-right: 15px solid var(--TSCColorQ);
                    border-top: 15px solid var(--TSCColorQ);
                    border-bottom: 15px solid transparent;
                    left: -16px;
                    top: 0px;
                }
            }
        }
    }

    .tsc-input {
        input {
            border: thin solid #00bcd4;
            padding: 0.5rem;
            width: var(--TSCWidth);
            pointer-events: auto;
            outline: none;
            font-size: var(--TSCFontSizePara);
            font-variation-settings: "wght" var(--TSCFontWeight);
            &:focus {
                outline: none;

            }
        }
    }
}