<div style="display: none">
    {# -- Map Marker -- #}
     <img id="map-marker" class="map-marker toggle" width="30" src="/static/svg/icons/map-marker.svg" alt="Marker" />
    {# -- Шаблон попапа -- #}
     <div id="map-popup" class="popup">
       <p id="title"></p>
     </div>
    {# -- Map Popup -- #}
    <div id="popup-market-card" class="popup-market-card" title="">
        <div id="popup-market-card-title" class="popup-market-card-title" title="">
        </div>
        <div class="popup-market-card-body">
            <div id="popup-market-card-img" class="popup-market-card-img">
                <a id="popup-market-url" href="">
                    <img id="popup-market-img" src="" />
                </a>
            </div>
            <div class="popup-market-card-content">
                <div id="popup-market-card-text" class="popup-market-card-text"></div>
                <div class="popup-market-card-icons">
                    <a id="popup-market-url-icon" href="">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>