{% load static %}
<div class="search-market-window" id="search-market-window">
    <div class="search-market" id="search-market">
        <div class="search-market-top">
            <img src="{% static 'svg/icons/binoculars.svg' %}" alt="3D"/>
            <div class="button-container">
                <div class="bar bar-grey">
                    <div class="option" id="search-market-btn">Рынки</div>
                    <div class="option" id="search-tp-btn">ТМ</div>
                </div>
                <div class="bar-outer">
                    <div class="bar bar-purple">
                    <div class="option">Рынки</div>
                    <div class="option">ТМ</div>
                    </div>
                </div>
            </div>
            <a href="#" class="search-close" title="Закрыть" id="search-close">
                <i class="bi bi-x-circle"></i>
            </a>
        </div>
        <div class="search-section-market" id="search-section-market">
            <div class="search-market-input">
                <input id="search-market-input">
            </div>
            <div id="search-market-result" class="search-market-result"></div>
        </div>
        <div class="search-section-tp" id="search-section-tp">
            <div id="outlet-search-top" class="search-tp-top">
                {# Вставляем фильтры сюда #}
            </div>
            <div class="search-tp-result"> {# Partial view must be inserted here !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
                {% comment %}
                <div class="css-treeview css-treeview-light">
                    <ul>
                        <li><input class="css-treeview-check" type="checkbox" id="item-0" checked="checked" /><label for="item-0">Донецк</label>
                            <ul>
                                <li><input class="css-treeview-check" type="checkbox" id="item-0-0" checked="checked" /><label for="item-0-0">Ворошиловский район</label>
                                    <ul>
                                        <li><input class="css-treeview-check" type="checkbox" id="item-0-0-0" checked="checked" /><label for="item-0-0-0">Рынок "Континент"</label>
                                            <ul>
                                                <li class="tree-node-result">
                                                    <div class="tree-text-title">001100512</div>
                                                    <div class="tree-link tree-node-item tree-node-child">
                                                        <a href="#" class="" title="Показать в списке">
                                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                                        </a>
                                                        <a href="#" class="" title="Показать на схеме">
                                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                                        </a>
                                                    </div>
                                                <div class="tree-address tree-node-item tree-node-child">
                                                    Занято
                                                </div>
                                                <div class="tree-tp-count tree-node-item tree-node-child">
                                                    Мебель
                                                </div>
                                                <div class="tree-tp-count tree-node-item tree-node-child">
                                                    1200,00 р
                                                </div>
                                                </li>
                                                <li class="tree-node-result">
                                                    <div class="tree-text-title">001100512</div>
                                                <div class="tree-link tree-node-item tree-node-child">
                                                    <a href="#" class="" title="Показать в списке">
                                                        <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                                    </a>
                                                    <a href="#" class="" title="Показать на схеме">
                                                        <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                                    </a>
                                                </div>
                                                <div class="tree-address tree-node-item tree-node-child">
                                                    Свободно
                                                </div>
                                                <div class="tree-tp-count tree-node-item tree-node-child">
                                                    Продукты
                                                </div>
                                                <div class="tree-tp-count tree-node-item tree-node-child">
                                                    12200,00 р
                                                </div>
                                                </li>
                                                <li class="tree-node-result">
                                                    <div class="tree-text-title">001100512</div>
                                                <div class="tree-link tree-node-item tree-node-child">
                                                    <a href="#" class="" title="Показать в списке">
                                                        <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                                    </a>
                                                    <a href="#" class="" title="Показать на схеме">
                                                        <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                                    </a>
                                                </div>
                                                <div class="tree-address tree-node-item tree-node-child">
                                                    Забронировано
                                                </div>
                                                <div class="tree-tp-count tree-node-item tree-node-child">
                                                    Канцелярия
                                                </div>
                                                <div class="tree-tp-count tree-node-item tree-node-child">
                                                    122200,00 р
                                                </div>
                                                </li>
                                                <li class="tree-node-result">
                                                    <div class="tree-text-title">001100512</div>
                                                    <div class="tree-link tree-node-item tree-node-child">
                                                        <a href="#" class="" title="Показать в списке">
                                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                                        </a>
                                                        <a href="#" class="" title="Показать на схеме">
                                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                                        </a>
                                                    </div>
                                                    <div class="tree-address tree-node-item tree-node-child">
                                                        Свободно
                                                    </div>
                                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                                        Мебель
                                                    </div>
                                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                                        1202220,00 р
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><input class="css-treeview-check" type="checkbox" id="item-0-1" /><label for="item-0-1">Рынок "Центральный"</label>
                                    <ul>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                    </ul>
                                </li>
                                <li><input class="css-treeview-check" type="checkbox" id="item-0-2"/><label for="item-0-2">Рынок "Объединенный"</label>
                                    <ul>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                    </ul>
                                </li>
                        </ul>
                </li>
                        <li><input class="css-treeview-check" type="checkbox" id="item-1" checked="checked" /><label for="item-1">Горловка</label>
                        <ul>
                            <li><input class="css-treeview-check" type="checkbox" id="item-1-0" /><label for="item-1-0">Рынок "Первый"</label>
                                <ul>
                                    <li class="tree-node-result">
                                        <div class="tree-text-title">001100512</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать в списке">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Показать на схеме">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        Занято
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        Мебель
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        1200,00 р
                                    </div>
                                    </li>
                                    <li class="tree-node-result">
                                        <div class="tree-text-title tree-node-child">001100512</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать в списке">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Показать на схеме">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        Свободно
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        Продукты
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        12200,00 р
                                    </div>
                                    </li>
                                    <li class="tree-node-result">
                                        <div class="tree-text-title tree-node-child">001100512</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать в списке">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Показать на схеме">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        Забронировано
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        Канцелярия
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        122200,00 р
                                    </div>
                                    </li>
                                    <li class="tree-node-result">
                                        <div class="tree-text-title tree-node-child">001100512</div>
                                        <div class="tree-link tree-node-item tree-node-child">
                                            <a href="#" class="" title="Показать в списке">
                                                <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                            </a>
                                            <a href="#" class="" title="Показать на схеме">
                                                <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                            </a>
                                        </div>
                                        <div class="tree-address tree-node-item tree-node-child">
                                            Свободно
                                        </div>
                                        <div class="tree-tp-count tree-node-item tree-node-child">
                                            Мебель
                                        </div>
                                        <div class="tree-tp-count tree-node-item tree-node-child">
                                            1202220,00 р
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </li>
                        <li><input class="css-treeview-check" type="checkbox" id="item-2" /><label for="item-2">Енакиево</label>
                        <ul>
                                <li><input class="css-treeview-check" type="checkbox" id="item-2-0" /><label for="item-2-0">Рынок "Ромашка"</label>
                                    <ul>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                    </ul>
                                </li>
                                <li><input class="css-treeview-check" type="checkbox" id="item-2-1" /><label for="item-2-1">Рынок "Правый"</label>
                                    <ul>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>
</div>