{% load static %}
<div class="search-market-window" id="search-market-window">
    <div class="search-market" id="search-market">
        <div class="search-market-top">
            <img src="{% static 'svg/icons/binoculars.svg' %}" alt="3D"/>
            <div class="button-container">
                <div class="bar bar-grey">
                    <div class="option" id="search-market-btn">Рынки</div>
                    <div class="option" id="search-tp-btn">ТМ</div>
                </div>
                <div class="bar-outer">
                    <div class="bar bar-purple">
                    <div class="option">Рынки</div>
                    <div class="option">ТМ</div>
                    </div>
                </div>
            </div>
            <a href="#" class="search-close" title="Закрыть" id="search-close">
                <i class="bi bi-x-circle"></i>
            </a>
        </div>
        <div class="search-section-market" id="search-section-market">
            <div class="search-market-input">
                <input id="search-market-input">
            </div>
            <div id="search-market-result" class="search-market-result">
                {% comment %}
                <ul class="tree">
                  <li>
                    <details open>
                      <summary>Донецк</summary>
                      <ul>
                        <li>
                          <details open>
                            <summary>Ворошиловский район</summary>
                            <ul>
                                <li class="tree-node-result">
                                    <div class="tree-text-title tree-node-child">Рынок "Континент"</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать на карте">
                                            <img src="{% static 'svg/icons/map-marker.svg' %}" alt="Показать на карте"/>
                                        </a>
                                        <a href="#" class="" title="Информация">
                                            <img src="{% static 'svg/icons/information-outline.svg' %}" alt="Информация"/>
                                        </a>
                                        <a href="#" class="" title="Список торговых мест">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Схема">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        ул. Первомайская, 1
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        NN торговых точек
                                    </div>
                                </li>
                                <li class="tree-node-result">
                                    <div class="tree-text-title tree-node-child">Рынок "Центральный"</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать на карте">
                                            <img src="{% static 'svg/icons/map-marker.svg' %}" alt="Показать на карте"/>
                                        </a>
                                        <a href="#" class="" title="Информация">
                                            <img src="{% static 'svg/icons/information-outline.svg' %}" alt="Информация"/>
                                        </a>
                                        <a href="#" class="" title="Список торговых мест">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Схема">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        б. Шевченко, 6Б
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        NN торговых точек
                                    </div>
                                </li>
                            </ul>
                          </details>
                        </li>
                        <li>
                          <details open>
                            <summary>Калиниский район</summary>
                            <ul>
                                <li class="tree-node-result">
                                    <div class="tree-text-title tree-node-child">Рынок "Континент"</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать на карте">
                                            <img src="{% static 'svg/icons/map-marker.svg' %}" alt="Показать на карте"/>
                                        </a>
                                        <a href="#" class="" title="Информация">
                                            <img src="{% static 'svg/icons/information-outline.svg' %}" alt="Информация"/>
                                        </a>
                                        <a href="#" class="" title="Список торговых мест">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Схема">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        ул. Первомайская, 1
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        NN торговых точек
                                    </div>
                                </li>
                                <li class="tree-node-result">
                                    <div class="tree-text-title tree-node-child">Рынок "Центральный"</div>
                                    <div class="tree-link tree-node-item tree-node-child">
                                        <a href="#" class="" title="Показать на карте">
                                            <img src="{% static 'svg/icons/map-marker.svg' %}" alt="Показать на карте"/>
                                        </a>
                                        <a href="#" class="" title="Информация">
                                            <img src="{% static 'svg/icons/information-outline.svg' %}" alt="Информация"/>
                                        </a>
                                        <a href="#" class="" title="Список торговых мест">
                                            <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                        </a>
                                        <a href="#" class="" title="Схема">
                                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                        </a>
                                    </div>
                                    <div class="tree-address tree-node-item tree-node-child">
                                        б. Шевченко, 6Б
                                    </div>
                                    <div class="tree-tp-count tree-node-item tree-node-child">
                                        NN торговых точек
                                    </div>
                                </li>
                            </ul>
                          </details>
                        </li>
                      </ul>
                    </details>
                  </li>
                </ul>
                {% endcomment %}
            </div>
        </div>
        <div class="search-section-tp" id="search-section-tp">
            <div class="search-tp-top">
                <div class="search-tp-block">
                    <div class="search-tp-block-title">Расположение</div>
                    <div class="search-tp-block-body">
                        <ul class="tree">
                          <li>
                            <details open>
                              <summary><input class="search-tp-check" type="checkbox" value="here-id-location" checked> Донецк</summary>
                              <ul>
                                <li>
                                  <details open>
                                    <summary><input class="search-tp-check" type="checkbox" value="here-id-location" checked> Ворошиловский район</summary>
                                    <ul>
                                        <li class="tree-node-result">
                                            <div class="tree-text-title tree-node-child">
                                                <input class="search-tp-check" type="checkbox" value="here-id-location" checked>
                                                Рынок "Континент"
                                            </div>
                                        </li>
                                        <li class="tree-node-result">
                                            <div class="tree-text-title tree-node-child">
                                                <input class="search-tp-check" type="checkbox" value="here-id-location" checked>
                                                Рынок "Центральный"
                                            </div>
                                        </li>
                                    </ul>
                                  </details>
                                </li>
                                <li>
                                  <details open>
                                    <summary><input class="search-tp-check" type="checkbox" value="here-id-location" checked> Калиниский район</summary>
                                    <ul>
                                        <li class="tree-node-result">
                                            <div class="tree-text-title tree-node-child">
                                                <input class="search-tp-check" type="checkbox" value="here-id-location" checked>
                                                Рынок "Континент"
                                            </div>
                                        </li>
                                        <li class="tree-node-result">
                                            <div class="tree-text-title tree-node-child">
                                                <input class="search-tp-check" type="checkbox" value="here-id-location" checked>
                                                Рынок "Центральный"
                                            </div>
                                        </li>
                                    </ul>
                                  </details>
                                </li>
                              </ul>
                            </details>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="search-tp-block">
                    <div class="search-tp-block-title">Специализация</div>
                    <div class="search-tp-block-body">
                        <div class="search-tp-spec for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Мебель
                        </div>
                        <div class="search-tp-spec for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Продукты
                        </div>
                        <div class="search-tp-spec for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Молочка
                        </div>
                        <div class="search-tp-spec for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Строительный
                        </div>
                        <div class="search-tp-spec for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Еще что-то
                        </div>
                    </div>
                </div>
                <div class="search-tp-block">
                    <div class="search-tp-block-title">Занятость</div>
                    <div class="search-tp-block-body">
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Свободно
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Занято
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Не сдается
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Забронировано
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Нет информации
                        </div>
                    </div>
                </div>
                <div class="search-tp-block">
                    <div class="search-tp-block-title">Благоустройство</div>
                    <div class="search-tp-block-body">
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Электричество
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Кондиционер
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Водопровод
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Стоки
                        </div>
                        <div class="search-tp-type for-checkbox">
                            <input class="search-tp-check" type="checkbox" value="here-id-spec" checked>
                            Интернет
                        </div>
                    </div>
                </div>
                <div class="search-tp-block">
                    <div class="search-tp-block-title">Прочее</div>
                    <div class="search-tp-block-body">
                        <div class="search-tp-param">
                            <div class="search-tp-inputs for-checkbox">
                                <div class="search-tp-input-label">Номер</div>
                                <input id="search-tp-input-num" class="search-tp-input-num">
                            </div>
                            <div class="search-tp-price-section">
                                <div class="search-tp-inputs search-tp-price-inputs for-checkbox">
                                    <div class="search-tp-input-label">Цена от</div>
                                    <input id="search-tp-input-price-min" class="search-tp-input-price search-tp-input-price-min" value="10000">
                                    <div class="search-tp-input-label">до</div>
                                    <input id="search-tp-input-price-max" class="search-tp-input-price search-tp-input-price-max" value="150000">
                                </div>
                                <div class="search-tp-range-block for-checkbox">
                                    <div class="search-tp-price-slider search-tp-slider">
                                        <div class="search-tp-price-progress search-tp-progress"></div>
                                    </div>
                                    <div class="search-tp-price-range-input search-tp-range-input">
                                        <input type="range" class="search-tp-price-range-min" min="0" max="200000" value="10000" step="100">
                                        <input type="range" class="search-tp-price-range-max" min="0" max="200000" value="150000" step="100">
                                    </div>
                                </div>
                            </div>
                            <div class="search-tp-area-section">
                                <div class="search-tp-inputs search-tp-area-inputs for-checkbox">
                                    <div class="search-tp-input-label">Площадь от</div>
                                    <input id="search-tp-input-area-min" class="search-tp-input-price search-tp-input-price-min" value="20000">
                                    <div class="search-tp-input-label">до</div>
                                    <input id="search-tp-input-area-max" class="search-tp-input-price search-tp-input-price-max" value="100000">
                                </div>
                                <div class="search-tp-range-block for-checkbox">
                                    <div class="search-tp-area-slider search-tp-slider">
                                        <div class="search-tp-area-progress search-tp-progress"></div>
                                    </div>
                                    <div class="search-tp-area-range-input search-tp-range-input">
                                        <input type="range" class="search-tp-area-range-min" min="0" max="200000" value="20000" step="100">
                                        <input type="range" class="search-tp-area-range-max" min="0" max="200000" value="100000" step="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-tp-result">
                <div class="css-treeview">
                    <ul>
                        <li><input type="checkbox" id="item-0" /><label for="item-0">Донецк</label>
                            <ul>
                                <li><input type="checkbox" id="item-0-0" /><label for="item-0-0">Ворошиловский район</label>
                                    <ul>
                                        <li><input type="checkbox" id="item-0-0-0" /><label for="item-0-0-0">Рынок "Континент"</label>
                                            <ul>
                                                <li class="tree-node-result">
                                                    001100512
                                                </li>
                                                <li>001100512</li>
                                                <li>001100512</li>
                                                <li>001100512</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><input type="checkbox" id="item-0-1" /><label for="item-0-1">Рынок "Центральный"</label>
                                    <ul>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                    </ul>
                                </li>
                                <li><input type="checkbox" id="item-0-2"/><label for="item-0-2">Рынок "Объединенный"</label>
                                    <ul>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                        <li>001100512</li>
                                    </ul>
                                </li>
                        </ul>
                </li>
                <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1">Горловка</label>
                        <ul>
                            <li><input type="checkbox" id="item-1-0" /><label for="item-1-0">Рынок "Первый"</label>
                                <ul>
                                    <li>001100512</li>
                                    <li>001100512</li>
                                    <li>001100512</li>
                                </ul>
                            </li>
                        </ul>
                </li>
                <li><input type="checkbox" id="item-2" /><label for="item-2">Енакиево</label>
                        <ul>
                                <li><input type="checkbox" id="item-2-0" /><label for="item-2-0">Рынок "Ромашка"</label>
                                    <ul>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                    </ul>
                                </li>
                                <li><input type="checkbox" id="item-2-1" /><label for="item-2-1">Рынок "Правый"</label>
                                    <ul>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                        <li>101100511</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>