{% load static %}
<div id="{{ts_chat_id}}" class="ts-chat">
    <div class="tsc-header">
        <label>Техподдержка</label>
        <img src="{% static 'svg/deco/ts.svg' %}"/>
    </div>
    <div class="tsc-dialogue">
        <p class="a">Вас приветствует служба технической поддержки! Чем могу помочь?</p>
        <p class="q">У меня болит голова, одолжите топор?</p>
        <p class="a">С огромным удовольствием, всегда рады помочь!</p>
    </div>
    <div class="tsc-input">
        <input type="text" />
    </div>
</div>