*:has(>.reg-card) {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

div.reg-card {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    label {
        color: steelblue;
        background: lavender;
        padding: 1rem;
        border: solid thin steelblue;
        border-radius: 2rem;
        width: fit-content;

        &.alert {
            color: white;
            background: orangered;
            border-color: yellow;
        }
    }
}

form.reg-card {
    width: 50%;
    min-width: fit-content;
    display: flex;
    flex-flow: column;
    gap: 1rem;

    * {
        font-family: "Geologica"  !important;
        font-variation-settings: "wght" 300  !important;
    }

    div {
        display: flex;
        flex-flow: column;
        gap: 0.5rem;

        label {
            color: steelblue;
        }
    }
}