body {
    height: 100vh;
    margin:0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    form {
        padding: 2rem;
        display: flex;
        flex-flow: column;
        gap:1rem;
        background: lavender;
        border: solid thin steelblue;

        header {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            color: lavender;
            background: steelblue;
            margin: -2rem -2rem 0 -2rem;
        }

        div {
            display: flex;
            flex-flow: column;
            gap: 0.25rem;

            label {
                color: steelblue;
            }
        }

        input {
                padding: 0.5rem;
                border-radius: 0.33rem;
                border: solid thin steelblue;
                outline: none;
                color: steelblue;
            }

        >input {
            padding: 1rem;
            margin-top: 1rem;
        }
    }
}
