{% load static %}
<div class="css-treeview css-treeview-light">
<ul>
    {% for city, dists in context.items %}
    <li>
        <input class="css-treeview-check" type="checkbox" id="mk-search-city-{{ forloop.counter }}" checked="checked" /><label for="mk-search-city-{{ forloop.counter }}">{{city}}</label>
            <ul>
                {% with city=forloop.counter %}
                {% for dist, markets in dists.items %}
                <li>
                    <input class="css-treeview-check" type="checkbox" id="mk-search-dist-{{ city }}-{{ forloop.counter }}" checked="checked" /><label for="mk-search-dist-{{ city }}-{{ forloop.counter }}">{{dist}}</label>
                        <ul>
                            {% for market, detail in markets.items %}
                            <li class="tree-node-result">
                                <div class="tree-text-title tree-node-child">{{market}}</div>
                                <div class="tree-link tree-node-item tree-node-child">
                                    <a href="{{detail.link_map}}" class="" title="Показать на карте">
                                        <img src="{% static 'svg/icons/map-marker.svg' %}" alt="Показать на карте"/>
                                    </a>
                                    <a href="{{detail.link_info}}" class="" title="Информация">
                                        <img src="{% static 'svg/icons/information-outline.svg' %}" alt="Информация"/>
                                    </a>
                                    <a href="{{detail.link_outlets}}" class="" title="Список торговых мест">
                                        <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                    </a>
                                    <a href="{{detail.link_scheme}}" class="" title="Схема">
                                        <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                    </a>
                                </div>
                                <div class="tree-address tree-node-item tree-node-child">
                                    {{detail.address}}
                                </div>
                                <div class="tree-tp-count tree-node-item tree-node-child">
                                    торговых мест: {{detail.outlet_num}}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
                {% endfor %}
                {% endwith %}
            </ul>
        </details>
    </li>
    {% endfor %}
</ul>
</div>