{% load static %}
<ul class="tree">
    {% for city, dists in context.items %}
    <li>
        <details open>
            <summary>{{city}}</summary>
            <ul>
                {% for dist, markets in dists.items %}
                <li>
                    <details open>
                        <summary>{{dist}}</summary>
                        <ul>
                            {% for market, detail in markets.items %}
                            <li class="tree-node-result">
                                <div class="tree-text-title tree-node-child">{{market}}</div>
                                <div class="tree-link tree-node-item tree-node-child">
                                    <a href="{{detail.link_map}}" class="" title="Показать на карте">
                                        <img src="{% static 'svg/icons/map-marker.svg' %}" alt="Показать на карте"/>
                                    </a>
                                    <a href="{{detail.link_info}}" class="" title="Информация">
                                        <img src="{% static 'svg/icons/information-outline.svg' %}" alt="Информация"/>
                                    </a>
                                    <a href="{{detail.link_outlets}}" class="" title="Список торговых мест">
                                        <img src="{% static 'svg/icons/format-list-bulleted.svg' %}" alt="Список торговых мест"/>
                                    </a>
                                    <a href="{{detail.link_scheme}}" class="" title="Схема">
                                        <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="Схема"/>
                                    </a>
                                </div>
                                <div class="tree-address tree-node-item tree-node-child">
                                    {{detail.address}}
                                </div>
                                <div class="tree-tp-count tree-node-item tree-node-child">
                                    торговых мест: {{detail.outlet_num}}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </details>
                </li>
                {% endfor %}
            </ul>
        </details>
    </li>
    {% endfor %}
</ul>