{% load static %}
{% load aux_tags %}
{% load thumbnail %}
{% load cache %}
{% cache 300 market_detail_outlet_detail hash %}
<div class="mkdetails-tp-header-block">Торговое место №{{outlet.location_number}}</div>
<div class="outlet-adv-block">
    <img src="{% thumbnail outlet.market.image 150x250 crop %}"/>
    <div>
        {{"Здесь будет слоган!" | markdown}}
        {{"Здесь будет короткое описание торговой точки. Здесь будет короткое описание торговой точки. Здесь будет короткое описание торговой точки. Здесь будет короткое описание торговой точки. Здесь будет короткое описание торговой точки." | markdown}}
    </div>
</div>
<div class="mkdetails-tp-section-info-detail-body-info-descr">
    <p>Тип: <strong>{{outlet.trade_type}}</strong></p>
    <p>Занятость: <strong>{{outlet.trade_place_type}}</strong></p>
    <p>Возможность выносной торговли: <strong>{{outlet.street_vending | yesno:'есть,нет,неизвестно'}}</strong></p>
</div>
<div class="mkdetails-tp-section-info-detail-body-info-tree">
    <ul class="tree">
          <li>
            <details open>
              <summary>Детали</summary>
              <ul>
                <li>
                  <details open>
                    <summary>Физические параметры</summary>
                    <ul>
                        <li>Площадь: <strong>{{outlet.meas_area}}</strong></li>
                        <li>Длина: <strong>{{outlet.meas_length}}</strong></li>
                        <li>Ширина: <strong>{{outlet.meas_width}}</strong></li>
                        <li>Высота: <strong>{{outlet.meas_height}}</strong></li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details open>
                    <summary>Благоустройство и оборуование</summary>
                    <ul>
                        <li>Электричество: <strong>{{outlet.impr_electricity | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Теплоснабжение: <strong>{{outlet.impr_heat_supply | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Кондиционирование: <strong>{{impr_air_conditioning | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Водопровод: <strong>{{outlet.impr_plumbing | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Канализация: <strong>{{outlet.impr_sewerage | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Стоки: <strong>{{outlet.impr_drains | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Интернет: <strong>{{outlet.tp_internet_connection}}</strong></li>
                        <li>Стенды, мебель: <strong>{{outlet.impr_add_equipment | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Холодильные установки: <strong>{{outlet.impr_fridge | yesno:'есть,нет,неизвестно'}}</strong></li>
                        <li>Витрины: <strong>{{outlet.impr_shopwindow | yesno:'есть,нет,неизвестно'}}</strong></li>
                    </ul>
                  </details>
                </li>
                  <li>
                    <details open>
                        <summary>Месторасположение ТМ</summary>
                        <ul>
                            <li>Сектор: <strong>{{outlet.location_sector}}</strong></li>
                            <li>Этаж: <strong>{{outlet.scheme.floor | default:'Не указано'}}</strong></li>
                        </ul>
                    </details>
                </li>
                  {% comment %}
                  <li>
                  <details open>
                    <summary>Контактные данные</summary>
                    <ul>
                        <li>Телефон: <strong>{{market.phone}}</strong></li>
                        <li>Email: <strong>{{market.email}}</strong></li>
                    </ul>
                  </details>
                </li>
                {% endcomment %}
              </ul>
            </details>
          </li>
        </ul>
</div>
{% if afbk or unbk %}
<div class="mkdetails-tp-section-info-detail-body-info-booking">
    {% if afbk %}
    <a href="#" class="mkdetails-tp-section-info-detail-body-info-booking-button book-btn">
       <img src="{% static 'svg/icons/calendar-check.svg' %}" alt="Выбор легенды"/>
        Бронировать
    </a>
    {% endif %}
    {% if unbk %}
    <a href="#" class="mkdetails-tp-section-info-detail-body-info-booking-button-cancel book-btn">
       <img src="{% static 'svg/icons/undo-variant.svg' %}" alt="Выбор легенды"/>
    </a>
    {% endif %}
</div>
{% endif %}
{% endcache %}