{% extends 'markets/basic.html' %}
{% load aux_tags %}
{% block content %}
<h1>{{text}}</h1>
{{'## Пример текста с *markdown* разметкой'|markdown}}
{{'**Пример** текста с *markdown* разметкой'|markdown}}
{# Пример использования legend -- этот параметр доступен во всех шаблонах #}
{% for k,v in legend.items %}
<h2 style="color:{{v.wall_color_css}};">#{{k}} {{v.title}} -- в цвете стен</h2>
<h2 style="color:{{v.roof_color_css}};">#{{k}} {{v.title}} -- в цвете крыши</h2>
{% endfor %}
{% endblock %}
{% block dom-loaded-scripts %}
{{block.super}}
dj_reverse("api:schemes_take_outlets_list", { scheme_pk: 1236, legend: 1 }).then(url => alert(url));
dj_reverse("api:markets_take_schemes", { market_pk: 10 }).then(url => alert(url));
const socket = new WebSocket("ws://localhost:8000/markets/ws/chat/");
socket.onmessage = event => {
    alert(JSON.parse(event.data).message);
    window.setTimeout(()=>{
        socket.send(JSON.stringify({'message': "Hello again!"}));
    }, 3000);
};
window.setTimeout(()=>{
    socket.send(JSON.stringify({'message': "Hello, world!"}));
}, 3000);
{% endblock %}
