{% extends 'markets/basic.html' %}
{% load static %}
{% load thumbnail %}
{% load qr_code %}
{% block title %}{{block.super}}Контакты{% endblock %}
{% block header-styles %}
{{block.super}}
<link href="{% static 'css/contacts.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="contact-block">
    {% for city, dists in data.items %}
    <h1>{{city}}</h1>
        {% for dist, contacts in dists.items %}
        <h2>{{dist}}</h2>
        <div class="contact-cards">
            {% for key, contact in contacts.items %}
            <div class="contact-card">
                <div class="contact-card-image">
                    {# thumbnail contact.image 100x100 crop as thumb #}
                    <img src="{{ contact.image.url }}" />
                </div>
                <div class="contact-card-body">
                    <div class="contact-card-body-title">{{contact.title}}</div>
                    <div class="contact-card-body-subtitle">{{contact.city}}, {{contact.district}}, {{contact.address}}</div>
                    <div class="contact-card-body-info">
                        <div class="contact-card-body-info-contacts">
                            {% for phone in contact.phones.all %}
                            <div class="contact-card-body-info-contact">
                                <i class="bi bi-telephone-fill"></i>
                                <a href="tel:{{phone}}">{{phone}}</a>
                            </div>
                            {% endfor %}
                            {% for email in contact.emails.all %}
                            <div class="contact-card-body-info-contact">
                                <i class="bi bi-envelope-at-fill"></i>
                                <a href="mailto:{{email}}">{{email}}</a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="contact-card-body-info-qr">
                            {% qr_from_text contact.qr_text size="T" %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}

