{% extends 'markets/basic.html' %}
{% load static %}
{% load thumbnail %}
{% block header-styles %}
{{block.super}}
<link href="{% static 'vendor/openlayer/ol.css' %}" rel="stylesheet">
<link href="{% static 'css/mcards.css' %}" rel="stylesheet">
{% endblock %}
{% block header-scripts %}
{{block.super}}
<script src="{% static 'vendor/openlayer/ol.js' %}"></script>
<!--script src="{% static 'js/map.js' %}"></script-->
{% endblock %}
{% block content %}
{% include 'markets/include/mappopup.html' %}
<section class="main-map-section">
    <ul class="nav nav-tabs" id="main-tab-map" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-map" data-bs-toggle="tab" data-bs-target="#map-div"
                    type="button" role="tab" aria-controls="home" aria-selected="true"><i class="bi bi-map"></i>
                КАРТА
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-map-list" data-bs-toggle="tab" data-bs-target="#maplist"
                    type="button" role="tab" aria-controls="profile" aria-selected="false"><i
                    class="bi bi-list-task"></i>СПИСОК
            </button>
        </li>
    </ul>
    <div class="tab-content" id="main-tab-map-content">
        <div class="tab-pane fade show active" id="map-div" role="tabpanel" aria-labelledby="home-tab">
            <div class="main-map section-block">
                <div id="map"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="maplist" role="tabpanel" aria-labelledby="profile-tab">
            <div class="market-cards section-block">
                {% for market in markets %}
                    <div class="market-card">
                        <div class="market-card-title">
                            {{market.mk_full_name|truncatechars:21}}
                        </div>
                        <!--div class="market-card-title">
                            {{market.market_name|add:", "|add:market.additional_name }}
                        </div-->
                        <div class="market-card-body">
                            <div class="market-card-img">
                                {% thumbnail market.image 100x100 crop as thumb %}
                                <a href="{% url 'markets:market_details' mpk=market.id show='info' %}">
                                    <img src="{{ thumb.url }}" />
                                </a>

                                <!--img src="{% thumbnail market.images.0 300x0 %}" /-->
                                <!--img src="/static/bitmaps/imgs/m0001_130.jpg" /-->
                            </div>
                            <div class="market-card-content">
                                <div class="market-card-text">{{market.geo_index}}, {{market.mk_geo_full_address}}</div>
                                <div class="market-card-icons">
                                    <a href="{% url 'markets:index_mpk' mpk=market.id %}">
                                        <i class="bi bi-geo-alt-fill"></i>
                                    </a>
                                    <a href="{% url 'markets:market_details' mpk=market.id show='info' %}">
                                        <i class="bi bi-eye-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block dom-loaded-scripts %}
{{block.super}}
{% include 'markets/js/index.js' with items=markets iid=mpk %}
{% endblock %}
