{% extends 'markets/basic.html' %}
{% load static %}
{% load thumbnail %}
{% load aux_tags %}
{% block header-styles %}
{{block.super}}
<link href="{% static 'css/mkdetails.css' %}" rel="stylesheet">
<link href="{% static 'css/v3d.css' %}" rel="stylesheet">
<link href="{% static 'css/mklevel.css' %}" rel="stylesheet">
{% endblock %}
{% block header-scripts %}
{{block.super}}
<script type="importmap">
{ "imports": {
    "three": "{% static 'js/three/three.module.js' %}"
    ,"gltf_loader": "{% static 'js/three/loader/GLTFLoader.js' %}"
    ,"orbit_controls": "{% static 'js/three/controls/OrbitControls.js' %}"
    ,"map_controls": "{% static 'js/three/controls/MapControls.js' %}"
    ,"view3d": "{% static 'js/view3d.module.js' %}"
  }
}
</script>
{% endblock %}
{% block dom-loaded-scripts-imports %}
{{block.super}}
import { View3D } from "view3d";
{% endblock %}
{% block content %}
<section class="market-details-section">
    <div class="market-details-section-title"><h3>{{market.mk_full_name}}</h3></div>
    <div class="market-details-content">
        <div class="mkdetails-tabs-section" id="mkdetails-tabs-section">
            <ul class="nav nav-tabs" id="mkdetails-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="mkdetails-info" data-bs-toggle="tab" data-bs-target="#mkdetails-info-tab"
                            type="button" role="tab" aria-controls="info" aria-selected="true"><i class="bi bi-info-circle"></i>
                        ИНФОРМАЦИЯ
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mkdetails-tp" data-bs-toggle="tab" data-bs-target="#mkdetails-tp-tab"
                            type="button" role="tab" aria-controls="tp" aria-selected="false"><i
                            class="bi bi-list-ul"></i>ТОРГОВЫЕ МЕСТА
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mkdetails-scheme" data-bs-toggle="tab" data-bs-target="#mkdetails-scheme-tab"
                            type="button" role="tab" aria-controls="scheme" aria-selected="false"><i
                            class="bi bi-circle-square"></i>СХЕМА
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="mkdetails-tabs-content">
                <div class="tab-pane fade show active" id="mkdetails-info-tab" role="tabpanel" aria-labelledby="info-tab">
                    <div class="mkdetails-section-info section-block">
                        <div class="mkdetails-section-info-main">
                            <div class="mkdetails-info-title">
                                <div class="mkdetails-img-info">
                                    <img src="{% thumbnail market.image 200x200 crop %}">
                                </div>
                                <div class="mkdetails-short-info">
                                    Тип рынка: <strong>{{market.market_type}}</strong><br>
                                    Внутренний код рынка: <strong>{{market.internal_id}}</strong><br>
                                    Общая площадь рынка: <strong>{{market.market_square}}</strong><br>
                                    График работы: <strong>{{market.schedule}}</strong>
                                </div>
                            </div>
                            <div class="mkdetails-big-info">
                                {{market.ads | default:'*К сожалению, текст отсутствует*.' | markdown}}
                            </div>
                        </div>

                        <div class="mkdetails-section-info-slide" id="dragSlide"></div>
                        <div class="mkdetails-section-info-detail">
                             <ul class="tree">
                              <li>
                                <details open>
                                  <summary>Детали</summary>
                                  <ul>
                                    <li>
                                      <details open>
                                        <summary>Описание инфраструктуры</summary>
                                        <ul>
                                            <li>Количество парковок: <strong>{{market.infr_parking}}</strong></li>
                                            <li>Количество подъездов: <strong>{{market.infr_entrance}}</strong></li>
                                            <li>Количество санузлов: <strong>{{market.infr_restroom}}</strong></li>
                                            <li>Наличие водопровода: <strong>{{market.mk_water_supply}}</strong></li>
                                            <li>Канализация: <strong>{{market.mk_sewerage}}</strong></li>
                                            <li>Количество складских помещений: <strong>{{market.infr_storage}}</strong></li>
                                            <li>Наличие и состав противопожарных систем: <strong>{{market.infr_fire_protection}}</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                    <li>
                                      <details open>
                                        <summary>Информация для заключения догворов аренды/приобретения разовго талона</summary>
                                        <ul>
                                            <li>Информация о формах заявлений: <strong>{{market.info_statement_forms}}</strong></li>
                                            <li>Информация о типовых договорах: <strong>{{market.info_contracts}}</strong></li>
                                            <li>Информация о требованиях для оформления договоров/талонов: <strong>{{market.info_contracts_req}}</strong></li>
                                            <li>Информация о копиях правоустанавливающих документов дочернего предприятия: <strong>{{market.info_constitutive}}</strong></li>
                                            <li>Информация о других документах: <strong>{{market.info_other_docs}}</strong></li>
                                            <li>Информация для обращения граждан/ФЛП: <strong>{{market.citizen_appeal}}</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                      <li>
                                      <details open>
                                        <summary>Информация о географическом расположении рынка</summary>
                                        <ul>
                                            <li>Город: <strong>{{market.geo_city}}</strong></li>
                                            <li>Район города: <strong>{{market.geo_district}}</strong></li>
                                            <li>{{market.geo_street_type.descr}}: <strong>{{market.geo_street}}</strong></li>
                                            <li>Дом: <strong>{{market.geo_house}}</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                      <li>
                                      <details open>
                                        <summary>Контактные данные</summary>
                                        <ul>
                                            <li>Телефон: <strong>{{market.phone}}</strong></li>
                                            <li>Email: <strong>{{market.email}}</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                  </ul>
                                </details>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="mkdetails-tp-tab" role="tabpanel" aria-labelledby="tp-tab"></div>
                <div class="tab-pane fade" id="mkdetails-scheme-tab" role="tabpanel" aria-labelledby="scheme-tab">
                    <div class="section-block">
                        <div class="mkdetails-tp-header-block" id="mkdetails-scheme-header" style="border-width:0 1px 1px 1px"></div>
                        <div id="v3d" class="v3d">
                            {% if not market.schemes.first %}
                            <p>Список схем пуст</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mkdetails-tp-section-info-detail" id="mkdetails-tp-section-info-detail">
            <div class="mkdetails-tp-section-info-detail-body">
                <div class="mkdetails-tp-section-info-detail-body-panel">
                    <div class="mkdetails-tp-header-block" style="border-width:0 0 1px 0"></div>
                    <a href="#" class="" title="Фильтр">
                        <img src="{% static 'svg/icons/filter-outline.svg' %}" alt="Фильтр"/>
                    </a>
                    <a href="#" class="" title="Сброс фильтров">
                        <img src="{% static 'svg/icons/filter-remove-outline.svg' %}" alt="Сброс фильтров"/>
                    </a>
                    <a href="#" class="" title="Полоэкранный режим" id="mkdetails-fullscreen">
                        <img src="{% static 'svg/icons/fullscreen.svg' %}" alt="Полоэкранный режим"/>
                    </a>
                    <a href="#" class="" title="Выбор этажа" id="mk-level">
                        <img src="{% static 'svg/icons/layers.svg' %}" alt="Выбор этажа"/>
                    </a>
                    <a href="#" class="" title="Выбор легенды" onclick="window.dispatchEvent(new CustomEvent('next_legend'));">
                        <img src="{% static 'svg/icons/crosshairs-gps.svg' %}" alt="Выбор легенды"/>
                    </a>
                    <a href="#" class="" title="Сброс настроек" onclick="window.dispatchEvent(new CustomEvent('reset_3d_view'));">
                        <img src="{% static 'svg/icons/undo.svg' %}" alt="Сброс настроек"/>
                    </a>
                    <a href="#" class="" title="3D" onclick="window.dispatchEvent(new CustomEvent('toggle_3d_view'));">
                        <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="3D"/>
                    </a>
                </div>
                <div id="outlet-info" class="mkdetails-tp-section-info-detail-body-info">
                    {% comment %}
                    <div class="mkdetails-tp-header-block">Торговое месо №001100512</div>
                    <div class="mkdetails-tp-section-info-detail-body-info-descr">
                        <p>Тип: <strong>павильон непродовольтсвенный (мелкророзничная торговля)</strong></p>
                        <p>Занятость: <strong>Свободно</strong></p>
                        <p>Возможность выносной торговли: <strong>Нет</strong></p>
                    </div>
                    <div class="mkdetails-tp-section-info-detail-body-info-tree">
                        <ul class="tree">
                              <li>
                                <details open>
                                  <summary>Детали</summary>
                                  <ul>
                                    <li>
                                      <details open>
                                        <summary>Физические параметры</summary>
                                        <ul>
                                            <li>Площадь: <strong>57,4</strong></li>
                                            <li>Длина: <strong>10</strong></li>
                                            <li>Ширина: <strong>5,74</strong></li>
                                            <li>Высота: <strong>2,50</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                    <li>
                                      <details open>
                                        <summary>Благоустройство и оборуование</summary>
                                        <ul>
                                            <li>Электричество: <strong>Нет</strong></li>
                                            <li>Теплоснабжение: <strong>Нет</strong></li>
                                            <li>Кондиционирование: <strong>Нет</strong></li>
                                            <li>Водопровод: <strong>Нет</strong></li>
                                            <li>Канализация: <strong>Нет</strong></li>
                                            <li>Стоки: <strong>Нет</strong></li>
                                            <li>Интернет: <strong>Нет</strong></li>
                                            <li>Тип подключения: <strong>Проводной</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                      <li>
                                      <details open>
                                        <summary>Информация о географическом расположении рынка</summary>
                                        <ul>
                                            <li>Город: <strong>{{market.geo_city}}</strong></li>
                                            <li>Район города: <strong>{{market.geo_district}}</strong></li>
                                            <li>{{market.geo_street_type.descr}}: <strong>{{market.geo_street}}</strong></li>
                                            <li>Дом: <strong>{{market.geo_house}}</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                      <li>
                                      <details open>
                                        <summary>Контактные данные</summary>
                                        <ul>
                                            <li>Телефон: <strong>{{market.phone}}</strong></li>
                                            <li>Email: <strong>{{market.email}}</strong></li>
                                        </ul>
                                      </details>
                                    </li>
                                  </ul>
                                </details>
                              </li>
                            </ul>
                    </div>
                    <div class="mkdetails-tp-section-info-detail-body-info-booking">
                        <a href="#" class="mkdetails-tp-section-info-detail-body-info-booking-button book-btn">
                           <img src="{% static 'svg/icons/calendar-check.svg' %}" alt="Выбор легенды"/>
                            Бронировать
                        </a>
                        <a href="#" class="mkdetails-tp-section-info-detail-body-info-booking-button-cancel book-btn">
                           <img src="{% static 'svg/icons/undo-variant.svg' %}" alt="Выбор легенды"/>
                        </a>
                    </div>
                    {%endcomment%}
                </div>
            </div>
            <div class="mkdetails-tp-section-info-detail-legend">
                <div class="mkdetails-tp-header-block">Легенда - занятость мест</div>
                <div class="mkdetails-tp-section-info-detail-legend-body">
                    {% for k,v in legend.items %}
                    <div class="mkdetails-tp-section-info-detail-legend-body-item" title="{{v.title}}">
                        <div class="mkdetails-tp-section-info-detail-legend-body-item-circle" style="background-color:{{v.roof_color_css}};"></div>
                        <div class="mkdetails-tp-section-info-detail-legend-body-item-text">
                            {{v.title|truncatechars:9}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{# -- Choose Markets Level Window -- #}
<div id="market-level-window" class="modal-mklevel">
 <!-- Modal content -->
  <div class="modal-content-mklevel">
  <div class="modal-header-mklevel">
    <span class="close">&times;</span>
    <h4>{{market}} - выбор уровня</h4>
  </div>
  <div class="modal-body-mklevel">
      {% for sch in market.schemes.all %}
          <div class="mklevel-row" onclick="window.dispatchEvent(new CustomEvent('market_storey_changed', { detail: { scheme_pk: {{sch.id|stringformat:'d'}} } }));">
              {{forloop.counter}}) {{sch.floor|default:'Уровень без названия'}}
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
{% block dom-loaded-scripts %}
{{block.super}}
{% include 'markets/js/mklevel.js' %}
{% include 'markets/js/mkdetails.js' %}
{% if market.schemes.first %}
const v3d = new View3D("v3d", "{% url 'api:info_take_urls' %}", {{market.schemes.first.id | stringformat:'d'}}, 0, {{parm_3d_ground_color}}, {{parm_3d_decoration_color}}, {{parm_3d_decoration_opacity}}, window);
{#% comment % TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
// -- Грубый колхоз с размерами -- надо через стили и вот это вот всё
// -- Если включить тег comment выше и отрубить нижележащий код, 3д-вид будет иметь 0 высоту
const v3d_observer = new ResizeObserver((entries) => {
    const target = entries[0].target;
    const v = document.getElementById("v3d");
    v.setAttribute("style",`width:100%;height:${target.clientHeight-8}px;`);
});
v3d_observer.observe(document.getElementById("mkdetails-scheme-tab"));
{#% endcomment % !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}

const current = {
    scheme_pk: {{market.schemes.first.id | stringformat:'d'}},
    legend: 0
};

const update_outlet_table = () => {
    const args = {scheme_pk: current.scheme_pk, legend: current.legend};
    dj_load_partial_view("partial_outlet_table", args, {}).then(
        html => {document.getElementById("mkdetails-tp-tab").innerHTML = html;}
    );
};

// -- Реакция на hover по ТМ
window.addEventListener("outlet_pointed", (e) => { // TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    console.log(`pointed: ${e.detail.id}`);
});

// -- Реакция на клик по ТМ
window.addEventListener("outlet_clicked", async (e) => {
    if(e.detail.id) {
        dj_load_partial_view("partial_outlet_detail", {outlet_number: e.detail.id}, {}).then(
            html => {document.getElementById("outlet-info").innerHTML = html;}
        );
    } else {
        document.getElementById("outlet-info").innerHTML = "";
    }
});

window.addEventListener("next_legend", (_) => {
    current.legend++;
    update_outlet_table();
});

window.addEventListener("market_storey_changed", (e) => {
    current.scheme_pk = e.detail.scheme_pk;
    update_outlet_table();
});

update_outlet_table();

{% endif %}
{% endblock %}