{% extends 'markets/basic.html' %}
{% load static %}
{% load thumbnail %}
{% load aux_tags %}
{% block header-styles %}
{{block.super}}
<link href="{% static 'css/mkdetails.css' %}" rel="stylesheet">
<link href="{% static 'css/v3d.css' %}" rel="stylesheet">
<link href="{% static 'css/mklevel.css' %}" rel="stylesheet">
<link href="{% static 'css/outlet-adv.css' %}" rel="stylesheet">
{% endblock %}
{% block dom-loaded-scripts-imports %}
{{block.super}}
import { View3D } from "view3d";
{% endblock %}
{% block title %}{{block.super}}: {{market.mk_full_name}}{% endblock %}
{% block content %}
<section class="market-details-section">
    <div class="market-details-section-title"><h3>{{market.mk_full_name}}</h3></div>
    <div class="market-details-section-buttons">
        <button class="buttons-tab" id="mkdetails-info"><i class="bi bi-info-circle"></i>ИНФОРМАЦИЯ</button>
        <button class="buttons-tab" id="mkdetails-tp"><i class="bi bi-list-ul"></i>ТОРГОВЫЕ МЕСТА</button>
        <button class="buttons-tab" id="mkdetails-scheme"><i class="bi bi-circle-square"></i>СХЕМА</button>
    </div>
    <div class="market-details-content">
        <div class="mkdetails-section-info section-block" id="mkdetails-section-info">
            <div class="mkdetails-section-info-main">
                <div class="mkdetails-info-title">
                    <div class="mkdetails-img-info">
                        <img src="{% thumbnail market.image 200x200 crop %}">
                    </div>
                    <div class="mkdetails-short-info">
                        Тип рынка: <strong>{{market.market_type}}</strong><br>
                        Внутренний код рынка: <strong>{{market.market_id}}</strong><br>
                        Общая площадь рынка: <strong>{{market.market_area}}</strong><br>
                        График работы: <strong>{{market.schedule | default:"Не указано" | markdown}}</strong>
                    </div>
                </div>
                <div class="mkdetails-big-info">
                    {{market.ads | default:'*К сожалению, текст отсутствует*.' | markdown}}
                </div>
            </div>

            <div class="mkdetails-section-info-slide" id="dragSlide"></div>
            <div class="mkdetails-section-info-detail">
                 <ul class="tree">
                  <li>
                    <details open>
                      <summary>Детали</summary>
                      <ul>
                        <li>
                          <details open>
                            <summary>Описание инфраструктуры</summary>
                            <ul>
                                <li>Количество парковок: <strong>{{market.infr_parking}}</strong></li>
                                <li>Количество подъездов: <strong>{{market.infr_entrance}}</strong></li>
                                <li>Количество санузлов: <strong>{{market.infr_restroom}}</strong></li>
                                <li>Наличие водопровода: <strong>{{market.mk_water_supply}}</strong></li>
                                <li>Канализация: <strong>{{market.mk_sewerage}}</strong></li>
                                <li>Количество складских помещений: <strong>{{market.infr_storage}}</strong></li>
                                <li>Наличие и состав противопожарных систем: <strong>{{market.infr_fire_protection}}</strong></li>
                            </ul>
                          </details>
                        </li>
                        {% if aux_info %}
                        <li>
                          <details open>
                            <summary>Дополнительная информация о рынке</summary>
                            <ul>
                                <li>Категория рентабельности: <strong>{{market.profitability}}</strong></li>
                                {% for key,value in aux_info.items %}
                                <li>{{key}}: <strong>{{value}}</strong></li>
                                {% endfor %}
                            </ul>
                          </details>
                        </li>
                        {% endif %}
                        <li>
                          <details open>
                            <summary>Информация о географическом расположении рынка</summary>
                            <ul>
                                <li>Город: <strong>{{market.geo_city}}</strong></li>
                                <li>Район города: <strong>{{market.geo_district}}</strong></li>
                                <li>{{market.geo_street_type.descr}}: <strong>{{market.geo_street}}</strong></li>
                                <li>Дом: <strong>{{market.geo_house}}</strong></li>
                            </ul>
                          </details>
                        </li>
                        {% if market.phones.exists %}
                        <li>
                          <details open>
                            <summary>Телефоны:</summary>
                            <ul>
                                {% for ph in market.phones.all %}
                                <li><a href="tel:{{ph}}"><strong>{{ph}}</strong></a></li>
                                {% endfor %}
                            </ul>
                          </details>
                        </li>
                        {% endif %}
                        {% if market.emails.exists %}
                        <li>
                          <details open>
                            <summary>E-mail:</summary>
                            <ul>
                                {% for eml in market.emails.all %}
                                <li><a href="mailto:{{eml}}"><strong>{{eml}}</strong></a></li>
                                {% endfor %}
                            </ul>
                          </details>
                        </li>
                        {% endif %}
                      </ul>
                    </details>
                  </li>
                </ul>
            </div>
        </div>
        <div class="mkdetails-section-tabs" id="mkdetails-section-tabs">
            <div class="mkdetails-tp-scheme" id="mkdetails-tp-tab"></div>
            <div class="mkdetails-tp-scheme" id="mkdetails-scheme-tab">
                <div class="section-block">
                    <div class="mkdetails-tp-header mkdetails-tp-header-block">
                        <div id="mkdetails-scheme-header"></div>
                        <div id="mkdetails-tp-pointed"></div>
                    </div>
                    <div id="v3d" class="v3d">
                        {% if not market.schemes.first %}
                        <p>Список схем пуст</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="mkdetails-tp-section-info-detail" id="mkdetails-tp-section-info-detail">
                <div class="mkdetails-tp-section-info-detail-body">
                    <div class="mkdetails-tp-section-info-detail-body-panel">
                        <div class="mkdetails-tp-header-block" style="border-width:0 0 1px 0"></div>
                        <a href="#" class="" title="Полоэкранный режим" id="mkdetails-fullscreen">
                            <img src="{% static 'svg/icons/fullscreen.svg' %}" alt="Полоэкранный режим"/>
                        </a>
                        <a href="#" class="" title="Выбор этажа" id="mk-level">
                            <img src="{% static 'svg/icons/layers.svg' %}" alt="Выбор этажа"/>
                        </a>
                        <a href="#" class="" title="Выбор легенды" onclick="window.dispatchEvent(new CustomEvent('next_legend'));">
                            <img src="{% static 'svg/icons/crosshairs-gps.svg' %}" alt="Выбор легенды"/>
                        </a>
                        <a href="#" class="" title="Сброс настроек" onclick="window.dispatchEvent(new CustomEvent('reset_3d_view'));">
                            <img src="{% static 'svg/icons/undo.svg' %}" alt="Сброс настроек"/>
                        </a>
                        <a href="#" class="" title="3D" onclick="window.dispatchEvent(new CustomEvent('toggle_3d_view'));">
                            <img src="{% static 'svg/icons/cube-outline.svg' %}" alt="3D"/>
                        </a>
                        <a href="#" class="" title="Справка" onclick="window.help_dialog.toggle({{help_id|default:0}} + 10);" id="mk-help">
                            <img src="{% static 'svg/icons/question-mark-circle.svg' %}" alt="Справка"/>
                        </a>
                    </div>
                    <div id="outlet-info" class="mkdetails-tp-section-info-detail-body-info"></div>
                </div>
                <div id="legend-body-container" class="mkdetails-tp-section-info-detail-legend">
                </div>
            </div>
        </div>
    </div>
</section>
{# -- Choose Markets Level Window -- #}
<div id="market-level-window" class="modal-mklevel">
 <!-- Modal content -->
  <div class="modal-content-mklevel">
      <div class="modal-header-mklevel">
        <span class="close">&times;</span>
        <h4>{{market}} - выбор уровня</h4>
      </div>
      <div class="modal-body-mklevel">
          {% for sch in market.schemes.all %}
              <div class="mklevel-row" onclick="window.dispatchEvent(new CustomEvent('market_storey_changed', { detail: { scheme_pk: {{sch.id | stringformat:'d'}}, scheme_name: '{{sch.floor | default:'Уровень без названия'}}' } }));">
                  {{forloop.counter}}) {{sch.floor|default:'Уровень без названия'}}
              </div>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
{% block dom-loaded-scripts %}
{{block.super}}
{% include 'markets/js/mklevel.js' %}
{% include 'markets/js/mkdetails.js' %}
{% if outlet %} {# -------------------------------------------------------------------------------- Current state --- #}
const current = {
    scheme_pk: {{outlet.scheme.id | stringformat:'d'}},
    scheme_name: "{{outlet.scheme.floor | default:'Уровень без названия'}}",
    outlet_number: "{{outlet.location_number}}",
    legend: 0,
    sort_table: ""
};
{% elif market.schemes.exists %}
const current = {
    scheme_pk: {{market.schemes.first.id | stringformat:'d'}},
    scheme_name: "{{market.schemes.first.floor | default:'Уровень без названия'}}",
    outlet_number: null,
    legend: 0,
    sort_table: ""
};
{% endif %}
{% if outlet or market.schemes.exists %}
const tp_pointed = document.getElementById("mkdetails-tp-pointed");
const tab_map = new Map([["info", "mkdetails-info"], ["outlets", "mkdetails-tp"], ["scheme","mkdetails-scheme"]]);
const v3d = new View3D( {# ------------------------------------------------------------------------------ 3D View --- #}
    "v3d", "{% url 'api:info_take_urls' %}", current.scheme_pk, 0, {{parm_3d_ground_color}}, {{parm_3d_decoration_color}}, {{parm_3d_decoration_opacity}}, window,
    current.outlet_number ? () => {
        v3d.set_ready_signal(null);
        window.dispatchEvent(new CustomEvent("outlet_clicked", { detail: { id: current.outlet_number } }));
    } : null);
const re_click = () => { window.dispatchEvent(new CustomEvent("outlet_clicked", { detail: { id: current.outlet_number }})); };
const update_outlet_table = (on_update=re_click) => { {# ---------------------------------------- Loading outlet table partial view --- #}
    if(update_outlet_table.abort_controller) update_outlet_table.abort_controller.abort('obsolete');
    update_outlet_table.abort_controller = new AbortController();
    document.getElementById("mkdetails-scheme-header").innerText = current.scheme_name;
    const args = {scheme_pk: current.scheme_pk, legend: current.legend};
    dj_load_partial_view("partial_outlet_table", args, current.sort_table, update_outlet_table.abort_controller.signal).then(
        html => {
            update_outlet_table.abort_controller = null;
            document.getElementById("mkdetails-tp-tab").innerHTML = html;
            if(on_update) on_update();
        }
    );
};
const update_legend_body = () => { {# ------------------------------------------ Loading legend body partial view --- #}
    if(update_legend_body.abort_controller) update_legend_body.abort_controller.abort('obsolete');
    update_legend_body.abort_controller = new AbortController();
    dj_load_partial_view("partial_legend_body", {legend: current.legend}, {}, update_legend_body.signal).then(
        html => {
            update_legend_body.abort_controller = null;
            document.getElementById("legend-body-container").innerHTML = html;
        }
    );
};
const next_sort = (unit) => {
    const sort = { "a": "d", "d": "", "": "a" };
    return unit in sort ? sort[unit] : "a";
}
window.addEventListener("outlet_pointed", (e) => { {# ---------------------------------------------- Outlet hover --- #} // TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    //console.log(`pointed: ${e.detail.id}`);
    tp_pointed.innerText = (e.detail.id === null) ? '' : '№' + e.detail.id;
});
const update_outlet_details = (oid) => {
    if(update_outlet_details.abort_controller) update_outlet_details.abort_controller.abort('obsolete');
    update_outlet_details.abort_controller = new AbortController();
    dj_load_partial_view("partial_outlet_detail", {outlet_number: oid}, {}, update_outlet_details.abort_controller.signal).then(
        html => {
            update_outlet_details.abort_controller = null;
            document.getElementById("outlet-info").innerHTML = html;
        }
    );
};
window.addEventListener("outlet_clicked", async (e) => { {# ---------------------------------------- Outlet click --- #}
    if(e.detail.id) {
        update_outlet_details(e.detail.id);
        for (const tr of document.querySelectorAll('tr.table-tp-row')) {
            tr.classList.remove('selected');
            tr.classList.add(tr.getElementsByTagName('td')[0].textContent === e.detail.id ? 'selected' : 'clean');
        }
    } else {
        document.getElementById("outlet-info").innerHTML = "";
        for (const tr of document.querySelectorAll('tr.table-tp-row')) {
            tr.classList.remove('selected');
        }
    }
    current.outlet_number = e.detail.id;
});
window.addEventListener("next_legend", (_) => { {# ---------------------------------------------- Legend changing --- #}
    current.legend++;
    update_outlet_table();
    update_legend_body();
});
window.addEventListener("market_storey_changed", (e) => { {# ----------------------------- Market storey changing --- #}
    current.scheme_pk = e.detail.scheme_pk;
    current.scheme_name = e.detail.scheme_name;
    update_outlet_table();
});
window.addEventListener("tp_header_clicked", async (e) => { {# ---------------------------------------- TradePlace table header click --- #}
    if(current.sort_table.includes(e.detail)) {
        var sort_str = next_sort(current.sort_table.substring(current.sort_table.indexOf(e.detail + ':') + 2, current.sort_table.indexOf(e.detail + ':') + 3));
        current.sort_table = current.sort_table.replace(current.sort_table.substring(current.sort_table.indexOf(e.detail + ':'), current.sort_table.indexOf(e.detail + ':') + 3), "");
        if(sort_str)
         current.sort_table += (current.sort_table.length === 0) ? e.detail + ":" + sort_str :  ',' + e.detail + ":" + sort_str;
    }
    else
        current.sort_table += (current.sort_table.length === 0) ? e.detail + ":" + next_sort() : ',' + e.detail + ":" + next_sort();
    current.sort_table = current.sort_table.replace(/^,|,$/g,'').replace(/(.)\1+/g, '$1');
    update_outlet_table();
});
update_outlet_table(null); {# ---------------------------------------------------------------------------- Initiation --- #}
update_legend_body();
if(tab_map.has("{{show_tab}}")) window.setTimeout(()=>{ document.getElementById(tab_map.get("{{show_tab}}")).click(); });
{% endif %}
{% endblock %}