{% extends 'markets/basic.html' %}
{% load static %}
{% block header-styles %}
{{block.super}}
<link href="{% static 'css/v3d.css' %}" rel="stylesheet">
{% endblock %}
{% block header-scripts %}
{{block.super}}
<script type="importmap">
{ "imports": {
    "three": "{% static 'js/three/three.module.js' %}"
    ,"gltf_loader": "{% static 'js/three/loader/GLTFLoader.js' %}"
    ,"orbit_controls": "{% static 'js/three/controls/OrbitControls.js' %}"
    ,"map_controls": "{% static 'js/three/controls/MapControls.js' %}"
    ,"view3d": "{% static 'js/view3d.module.js' %}"
  }
}
</script>
{% endblock %}
{% block dom-loaded-scripts-imports %}
{{block.super}}
import { View3D } from "view3d";
{% endblock %}
{% block dom-loaded-scripts %}
{{block.super}}
const v3d = new View3D(
    "v3d",
    "{% url 'api:schemes_take_gltf' scheme_pk=scheme_pk %}",
    "{% url 'api:schemes_take_outlets_state' scheme_pk=scheme_pk %}",
    {% include 'markets/js/outlet_paint_map.js' %},
    {{parm_3d_ground_color}},
    {{parm_3d_decoration_color}},
    {{parm_3d_decoration_opacity}});
document.getElementById("v3d").addEventListener("outlet_pointed", (e) => {
    console.log(`pointed: ${e.detail.id}`);
});
document.getElementById("v3d").addEventListener("outlet_clicked", (e) => {
    if(e.detail.id) {
        console.log(`clicked: ${e.detail.id}`);
    } else {
        {#window.dispatchEvent(new CustomEvent("market_storey_changed", { detail: { gltf_url: "{% url 'api:schemes_take_gltf' scheme_pk=1578 %}", outlets_url: "{% url 'api:schemes_take_outlets_state' scheme_pk=1578 %}" } }));#}
        window.dispatchEvent(new CustomEvent("toggle_3d_view", { detail: { } }));
    }
});
{% endblock %}
{% block content %}
<div id="v3d" class="v3d"></div>
{% endblock %}

