{% extends 'markets/basic.html' %}
{% load static %}
{% block header-styles %}
{{block.super}}
<link href="{% static 'css/v3d.css' %}" rel="stylesheet">
{% endblock %}
{% block header-scripts %}
{{block.super}}
<script type="importmap">
{ "imports": {
    "three": "{% static 'js/three/three.module.js' %}"
    ,"gltf_loader": "{% static 'js/three/gltf_loader/GLTFLoader.js' %}"
    ,"view3d": "{% static 'js/view3d.module.js' %}"
  }
}
</script>
{% endblock %}
{% block dom-loaded-scripts-imports %}
{{block.super}}
import * as THREE from "three";
import { GLTFLoader } from "gltf_loader";
import { v3d_test } from "view3d";
{% endblock %}
{% block dom-loaded-scripts %}
{{block.super}}
v3d_test();
{% include 'markets/js/v3d.js' with div_id='v3d' sch_pk=scheme_pk %}
{% endblock %}
{% block content %}
<div id="v3d" class="v3d"></div>
{% endblock %}

